.new-event {
    color: var(--background-four);
}

.body-newEvent {
    background-color: var(--background-four-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-newEvent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
}

.line-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box-newEvent {
    margin-top: 30px;
    background-color: var(--background-three);
    padding: 50px;
}

.m-l-20 {
    margin-left: 20px;
}
